<div class="container-fluid bg-light">
  <div class="row">
    <div class="col py-2">
      <ModelsTable @data={{@model}} @columns={{this.columns}}
        @showComponentFooter={{true}}
        @showColumnsDropdown={{false}}
        @useFilteringByColumns={{true}}
        @doFilteringByHiddenColumns={{false}}
        @useNumericPagination={{false}}
        @filteringIgnoreCase={{true}}
        @multipleColumnsSorting={{true}}
        @showCurrentPageNumberSelect={{true}}
        @collapseNumPaginationForPagesCount={{true}}
        @showPageSize={{true}}
        @pageSize=50
      />
    </div>
  </div>
</div>